/* src/components/Calculator.css */

.calculator {
    width: 300px;
    background-color: #bdeffd;
    border: 1px solid #7ddaff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(220, 163, 255);
  }
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .display {
    background-color: #fddaf4;
    border: 1px solid #ff57f7;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
  }
  
  .button {
    background-color: #cef7ff;
    border: 1px solid #438f9b;
    border-radius: 4px;
    padding: 15px 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(227, 157, 235);
  }
  
  .button:hover {
    background-color: #69d3ed;
  }
  