* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: calc(15px + 0.390625vw);
 }

/* flexbox container */
.app {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
}

/* mobile columns */
.app > * {
    width:100%;
    padding:1rem;
}

/* background colors */
.header {background:#f97171}
.main {background:#fff}
.left {background:#f5d55f}
.right {background:#c5ed77}
.footer {background:#72c2f1}





/* tablet */
@media (min-width:768px) {
    .left, .right {
        width:50%;
    }
    .main, .left, .right {
        height: 40vh;
     }
}


/* desktop */
@media (min-width:1024px) {
    .header {
        order:-2; 
    }
    .left {
        
        order:-1; 
    }
    .main {
        width:50%;
    }
   .left, .right {
        width:25%;
    }
    .main, .left, .right {
        height: 40vh;
     }
}